@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ResetPassword>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}<div id="main-container">
    <div id="main" class="wrapper clearfix">
        <section>
            @(Model.Content.GetPropertyValue<HtmlString>("bodyContent"))

            @{
                if (Request.QueryString["email"] == null)
                {
                    @Html.Action("MemberResetPasswordRenderForm", "MemberResetPasswordSurface")
                }
                else
                {
                    if (TempData["Success"] == null || TempData["Success"].ToString() == "False")
                    {
                        @Html.Action("MemberResetPasswordSetRenderForm", "MemberResetPasswordSurface")
                    }
                    else
                    {
                        <p>@TempData["Status"]</p>
                    }
                }
            }

        </section>  
    </div> <!-- #main -->
</div> <!-- #main-container -->