@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Validate>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}<div id="main-container">
    <div id="main" class="wrapper clearfix">
        <section>
            @(Model.Content.GetPropertyValue<HtmlString>("bodyContent"))
			@Html.Action("MemberValidate", "MemberValidateSurface")
        </section>  
    </div> <!-- #main -->
</div> <!-- #main-container -->